# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/

# PlatformIO
firmware/.pio/
firmware/.pioenvs/
firmware/.piolibdeps/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# JetBrains eval
.jbeval/

# Secrets
.env
